*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
div{
    text-align: center;
    margin-top: 25vh;
    border: solid red;
    background-color: red;
    width: 280px;
    height: 470px;
    border-radius: 5px;
    color: aliceblue;
    font-family: cursive;
    border: solid white;
}
body{
    display: grid;
    place-items: center;
    background-color: black;
    background-image: url(unnamed.jpg);
}
